
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Rounded user avatars
- Buttons
- Brand Styles

*/


/* Rounded avatars
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Disable this if you don't want rounded avatars for users */
.rounded-avatar {
  border-radius: 50%;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button{
  display: inline-block;
  /* text-decoration: underline!important; */
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 600px;
  font-weight: 700;
  line-height: 50px;
  height: 50px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 30px;
  cursor: pointer;
  border-color:#00aeff;
  border-style: solid;
  border-width: 2px;
  color: #00aeff;
  background: rgba(255, 255, 255, 0.5);
 }
.button:hover{

}

.button-entrance {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
}
.button-entrance a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.button-entrance a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(48, 178, 152, 0.1);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.05) inset, 0 0 0 2px rgba(48, 178, 152, 0.05);
  border-radius: 38px;
  -webkit-animation-name: anime-button-ripple;
          animation-name: anime-button-ripple;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
.button-entrance a .button {
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 56px;
  line-height: 56px;
  padding: 0 50px;
  color: #FFFFFF;
  background: #30B298;
  border-radius: 38px;
  box-shadow: 0 0 0 6px rgba(48, 178, 152, 0.2);
  transition: 0.1s;
}

@-webkit-keyframes anime-button-ripple {
  0% {
    opacity: 1;
    border-radius: 38px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  80% {
    opacity: 1;
    border-radius: 51px;
    top: -13px;
    bottom: -13px;
    left: -13px;
    right: -13px;
  }
  100% {
    opacity: 0;
    border-radius: 51px;
    top: -13px;
    bottom: -13px;
    left: -13px;
    right: -13px;
  }
}

@keyframes anime-button-ripple {
  0% {
    opacity: 1;
    border-radius: 38px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  80% {
    opacity: 1;
    border-radius: 51px;
    top: -13px;
    bottom: -13px;
    left: -13px;
    right: -13px;
  }
  100% {
    opacity: 0;
    border-radius: 51px;
    top: -13px;
    bottom: -13px;
    left: -13px;
    right: -13px;
  }
}



/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

